body {
  font-family: "Palatino Linotype", serif;
  color: #273691;
  margin: 0;
  padding: 0;
  font-size: 1em;
  background: white;
}
@media (max-width: 800px) {
  body {
    font-size: 1.5em;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Linden Hill Regular", serif;
}

#header {
  margin: 0 auto;
  background: #f4f5f9;
}

#header-content {
  width: 60%;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0 15px 0;
  position: relative;
}

#header-content > #logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 7px;
}
@media (max-width: 800px) {
  #header-content > #logo {
    display: block;
  }
}

#header-content > #logo > .logo {
  font-size: 3em;
  font-family: "Linden Hill Regular", serif;
  margin-right: 10px;
  text-decoration: none;
  color: #273691;
  font-variant: small-caps;
}
@media (max-width: 800px) {
  #header-content > #logo > .logo {
    display: block;
    font-size: 1.5em;
  }
}

#header-content > #logo > .icon {
  height: 3em;
}
@media (max-width: 800px) {
  #header-content > #logo > .icon {
    height: 2em;
  }
}

#header-content > #logo > .icon > img {
  height: 3em;
}
@media (max-width: 800px) {
  #header-content > #logo > .icon > img {
    height: 2em;
  }
}

#header-content > span {
  font-size: 1.5em;
  color: #7a86cf;
  font-family: "Linden Hill Regular", serif;
}
@media (max-width: 800px) {
  #header-content > span {
    font-size: 1em;
  }
}

#menu {
  display: inline-block;
  margin: 2em auto;
  font-family: "Arial Rounded MT Bold Regular";
  font-weight: normal;
  text-align: right;
  /* background-color: white; */
  padding: 1em;
  border-radius: 7px;
  /* box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1); */
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
}
@media (max-width: 800px) {
  #menu {
    top: 0em;
    right: 0;
  }
}

#menu-toggler {
  display: inline-block;
  height: 1.1em;
  padding: 0.1em;
  margin-bottom: 5px;
  cursor: pointer;
}

#menu-content {
  display: none;
}

#menu-content > .item {
  display: inline-block;
  padding: 5px 8px;
  margin: 2px 0;
  font-size: 0.9em;
  color: #273691;
  text-decoration: none;
}

#menu-content > .item:hover,
#menu-content > .item.focus {
  background: #eaebf3;
  border-radius: 5px;
}

#slideshow {
  width: 100%;
  background-image: url("slideshow/base.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 17em;
  max-height: 17em;
  margin-bottom: 100px;
  text-align: right;
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms;
  display: flex;
  justify-content: center;
}
@media (max-width: 800px) {
  #slideshow {
    min-height: 12em;
  }
}

#slideshow #slogan-wrapper {
  width: 600px;
  margin: 0 0 3em 0;
}

#slideshow #slogan {
  width: 60%;
  margin: auto 0 auto auto;
  color: white;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  text-align: right;
  font-size: 2em;
  padding: 30px 1em;
  font-family: "Linden Hill Regular", serif;
}
@media (max-width: 800px) {
  #slideshow #slogan {
    width: 80%;
    font-size: 1.3em;
  }
}

#slideshow #circles {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  bottom: -3em;
}
@media (max-width: 800px) {
  #slideshow #circles {
    bottom: -1em;
  }
}

#slideshow .circle {
  display: block;
  border-radius: 50%;
  margin: 0 1em;
  padding: 0.2em;
  width: 6em;
  height: 6em;
  font-family: Helvetica, Arial, sans-serif;
  font-family: "Linden Hill Italic", serif;
  font-size: 1.3em;
  color: black;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 800px) {
  #slideshow .circle {
    font-size: 0.9em;
    width: 4em;
    height: 4em;
    margin: 0 0.3em;
  }
}

#slideshow .circle .inner-circle {
  border-radius: 50%;
  /*border: 1px dashed;*/
  width: 5.5em;
  height: 5.5em;
  padding: 0.2em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
@media (max-width: 800px) {
  #slideshow .circle .inner-circle {
    width: 3.7em;
    height: 3.7em;
  }
}

#slideshow .circle {
  background: #f6e4c0;
  background: rgba(255, 255, 255, 0.2);
}

#slideshow .circle.gold .inner-circle {
  border-color: #edc981;
  color: #84522a;
  background-color: #f9f1e1;
}

#slideshow .circle.blue .inner-circle {
  border-color: #abcdc7;
  color: #3d484d;
  background-color: #eff7fb;
}

#slideshow .circle .inner-circle:hover {
  background-color: white;
}

#slideshow .circle:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}

.testimony {
  font-size: 1.1em;
}

.testimony > .content {
  display: block;
  font-family: "Linden Hill Regular", serif;
  padding: 0 1.5em 0 0;
  background-image: url("quote.svg");
  background-size: 1.25em auto;
  background-position: right 0 top 0;
  background-repeat: no-repeat;
}

.testimony-metadata {
  text-align: right;
}

.page-content {
  max-width: 600px;
  margin: 0 auto;
  text-align: justify;
}
@media (max-width: 800px) {
  .page-content {
    padding: 0.4em;
  }
}

#footer {
  width: 70%;
  margin: 3em auto;
  text-align: center;
  font-size: 0.9em;
}
@media (max-width: 800px) {
  #footer {
    width: 90%;
    margin: 1.5em auto;
  }
}

#content a,
#footer a {
  color: black;
  text-decoration: none;
  font-family: "Linden Hill Regular", serif;
  font-size: 1.1em;
}

#content a:hover,
#footer a:hover {
  border-bottom: 1px dotted #ccc;
}
